body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container{


    width: 90%;
    padding: 1rem;
}



.top_section{

    display: flex;
    justify-content: center;
    width: 90%;
    padding: 0 2rem 2rem 2rem;
}

.header_logo{
    font-size: 25px;
    font-weight: bolder;
}



.top_links{
    margin-left: 25rem;
}

.top_links > a{

    margin-left: 15px;
}

.row{
    display: flex;
    justify-content: center;
}

.body_Section{
    display: flex;
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.body_section_text{
    width: 50%;
    margin-left: 60px;
}


.body_section_text > h1{
    width: 60%;
}

.body_section_text > p{

    width: 80%;
}

.image_holder{
    width: 600px;
    height: 250px;
    border: 2px solid yellow;

}

.third_section > h1{
    text-align: center;
    padding-bottom: 2rem;


}

.placeholder_boxes{
    display: flex;
    justify-content: center;
}


.placeholder_1{
    border: 4px solid blue;
    width: 170px ;
    height: 170px;
}

.placeholder_2{
    border: 4px solid blue;
    width: 170px ;
    height: 170px;
}

.placeholder_3{
    border: 4px solid blue;
    width: 170px ;
    height: 170px;
}

.placeholder_4{
    border: 4px solid blue;
    width: 170px ;
    height: 170px;
}


.placeholder_1 + .placeholder_2{
     margin-left: 20px
}

.placeholder_2 + .placeholder_3{
    margin-left: 20px;
}

.placeholder_3 + .placeholder_4{
    margin-left: 20px;
}